<section class="mainbar">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Vital List
    </div>
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" href="/vitals/create">
          <i class="glyphicon glyphicon-open"></i> New Vital
        </a>
      </div>

      <table ng-table="vm.tableParams" show-filter="true" class="table table-condensed table-striped">
          <tr ng-repeat="vital in $data">
              <td data-title="'Interval'" sortable="'interval'" filter="{ 'name': 'text' }">{{vital.interval}}</td>
              <td data-title="'Min Temp'" sortable="'mintemp'" filter="{'mintemp': 'text'}">{{vital.mintemp}}</td>
              <td data-title="'Max Temp'" sortable="'maxtemp'" filter="{'maxtemp': 'text'}">{{vital.maxtemp}}</td>
              <td data-title="'Min Beat'" sortable="'minbeat'" filter="{'minbeat': 'text'}">{{vital.minbeat}}</td>
              <td data-title="'Max Beat'" sortable="'maxbeat'" filter="{'maxbeat': 'text'}">{{vital.maxbeat}}</td>
              <td data-title="'Min SP02'" sortable="'minsp02'" filter="{'minsp02': 'text'}">{{vital.minsp02}}</td>
              <td data-title="'Max SP02'" sortable="'maxsp02'" filter="{'maxsp02': 'text'}">{{vital.maxsp02}}</td>
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" href="/vitals/{{vital.id}}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" href="/vitals/{{vital.id}}/edit">
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove(vital)" item="vital">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
