<section class="mainbar">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Patient List
    </div>
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" href="/patient/create">
          <i class="glyphicon glyphicon-open"></i> New Patient
        </a>
      </div>

      <table ng-table="vm.tableParams" show-filter="true" class="table table-condensed table-striped">
          <tr ng-repeat="patient in $data">
              <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">{{patient.name}}</td>
              <td data-title="'Address'" sortable="'address'" filter="{'address': 'text'}">{{patient.address}}</td>
              <td data-title="'Mobile'" sortable="'mobile'" filter="{'mobile': 'text'}">{{patient.mobile}}</td>
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" href="/patient/{{patient.id}}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" href="/patient/{{patient.id}}/edit">
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove(patient)" item="patient">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
